body {
    background-color: white;
    margin: 0%;
    padding: 0%;
    }

#logo {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 250px;
    padding: 15%;
    width: auto;
    height: auto;
    background-attachment: fixed;
    background-position-x: center;

}

#main {
    background-image: url(../img/banner.jpg);
    background-color: white;
    background-size: cover;
}

.box1 {


    
}


